---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<HeaderLink href="/">{SITE_TITLE}</HeaderLink>
		<HeaderLink href="https://twitter.com/appwiz" target="_blank">twitter</HeaderLink>
		<HeaderLink href="https://github.com/appwiz" target="_blank">github</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/rohand" target="_blank">linkedin</HeaderLink>
	</nav>
</header>
<style>
	header {
		padding-bottom: 1em;
		border-bottom: 1px solid #eee;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
